{% load staticfiles %}
{% include "errorreporter/header.html" %}

<script type="text/javascript"> 
function highlight(element) { return; } 
function unhighlight(element) { return; } 
$(document).ready(function() { 
$(".fancybox").fancybox({ 'type' : 'iframe', 'loop': false, });
}); 
</script>
<link href="{% static "errorreporter/css/reports.css" %}" rel="stylesheet" type="text/css" media="screen" />

<div class="container">
	<h1>Overview report for {{ report_for }}</h1>
	{% if crashreports %}
		Total # of reports: {{ crashreports|length }}<br>
		Total # of different stacks: {{ crashreports_aggr|length }}
	{% else %}
		No crash reports for {{ report_for }}.
	{% endif %}

	<br><br>

	{% with "errorreporter/flamegraphs/"|add:fg_prefix|add:".svg" as flamegraph %}
		<object data="{% static flamegraph %}" type="image/svg+xml" id="version1" width="1000px"></object>
	{% endwith %}

	<br><br>

	{% include "errorreporter/breakdown_sysinfo.html" with sysinfo=os_info info_type="os" title="Breakdown per OS" %}

	{% include "errorreporter/breakdown_sysinfo.html" with sysinfo=machine_info info_type="machine" title="Breakdown per machine type" %}


	{% include "errorreporter/crashreport.html" %}
</div>
